<!-- Dylan Kenneth Eliot


-->

<html>
<head>
  <meta charset="UTF-8">
  <title>Sync WebAssembly with Brython</title>
  <script src="/static/xb.js"></script> <!-- WebAssembly Module -->
  <script src="https://cdn.jsdelivr.net/npm/brython@3.11.1/brython.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/brython@3.11.1/brython_stdlib.js"></script>
</head>
<body onload="brython()">


<script type="text/python">
from browser import window

def init():
    return window.Module
x=init()
x.cwrap('Xb', 'void', ['number'])(x._malloc(16))
</script>

</body>
</html>
